.right{
    text-align:right;
}
.left { float: left; padding: 0 20px 20px 0;}

.steps{
    text-align:left;
   
}
.steps h1{
    background-color:rgb(245, 166, 19);
}
.heading{
    text-align:center;
    background-color:rgb(238, 31, 83);
    color: white;
}
p, li {
    font-family: Monaco, Arial;
    font-size: 23px;
    color:white;
}
head, body{
    background-color:rgb(9, 25, 90);
    opacity: 0.8;
}
h1{
    color:white;
    background-color:rgb(245, 166, 19);
}
h3{
    color:white;
    background-color:rgb(238, 31, 83);
}